

.socialnetwork {
    display: flex;
    justify-content: center;

}



.socialnetwork__icon {
    color: $dark;
    font-size: 2rem;
    margin:0 0.4em;

    &:hover{
        color: $pink;
        filter: drop-shadow(0 0 10px rgba($pink, 0.6));
    }
}