
// Archivo de parsals donde se definen valores globales como colores, fuentes o bueno algo pareido a las custom properties de css

// Color

$dark: #2d2d2d;
$pink: #ed1e79;
$light-grey: #EDEDED;
$white: #ffffff;
$light-green: #87fff3; 
$green: #00aba9;


// Fuentes

$titles: 'K2D', sans-serif;
$parraphs: 'Poppins', sans-serif;


// Queris

$mobile: 360px;
$tablet: 480px;
$desktop: 1024px;